<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anthony.fivethingsproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AtariBreakout"
            android:label="Atari Breakout" />
        <activity
            android:name=".DoABarrelRoll"
            android:label="Do A Barrel Roll" />
        <activity
            android:name=".Recursion"
            android:label="Recursion" />
        <activity
            android:name=".TicTacToe"
            android:label="Tic Tac Toe" />
        <activity
            android:name=".FlipGoogle"
            android:label="Flip! Google!" />
    </application>

</manifest>